<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projet TechWatch-V3</title>
</head>

<body>
    <header class="navigation">
        <h1 class="titre">group generator</h1>
        <nav>
            <ul class="head">
                <li class="headLi">
                    <a href="http://localhost:3000/students"> Student list</a>
                </li>
                <li class="headLi">
                    <a href="http://localhost:3000/groups"> Tech-watch Assignator</a>
                </li>
            </ul>
        </nav>
    </header>
    <h1 class="textGroups">List of groups</h1>
        <%for(var i = 0 ; i < groups.length ; i++) {%>
            <h3><%- groups[i].nGroupe.subject %></h3>
                <p>Students affiliate : 
                    <% for (let index = 0; index < groups[i].nGroupe.student.length - 1; index++) {%>
                        <%- groups[i].nGroupe.student[index].name %> - - -
                    <%}%>
                    <%- groups[i].nGroupe.student[groups[i].nGroupe.student.length - 1].name %>
                </p>
                <p> When : <%- groups[i].nGroupe.deadline %></p>
            <%}%>
    <form action="/groups" method="post">
        <input type="text" name="subject" placeholder="Project Name" >
        <input type="number" name="student" placeholder="Nombre d'étudiants" >
        <input type="date" name="deadline" placeholder="Deadline">
        <input type="submit" value="Generate">
    </form>

</body>

</html>