<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technology-Watch Assignator</title>
</head>
<body>
    <header>
        <h1>My Tech-Watch Assignator</h1>
        <nav>
            <div><a href="http://localhost:3000/students">Student list</a></div>
            <div><a href="http://localhost:3000/groups">Tech Watch Assignation</a></div>
            <div><a href="http://localhost:3000/historique">Historique</a></div>
        </nav>
    </header>
    <main>
        <div class="containerPresentation">
            <h2>Welcome tech-watch user !</h2>
            <p>On this page you could take a look to the next tech-watch we will assist. You can find witch students will have to do the next presentation and when.</p><br>
            <p>Also, as you can see, above this section there is a menu. This menu offer you diverse options like: take a look about the tech-watch we had already assist;  see the list of students availaible for do a tech-watch; a page for create the next tech-watch.</p><br>
            <p>Don’t be shy and try to go on diverses part of the website !</p>
        </div>
        <div class="containerGroupe">
            <%for(var i = 0 ; i < 2 ; i++) {%>
                <h3><%- groups[i].nGroupe.subject %></h3>
                    <p>Students affiliate : 
                        <% for (let index = 0; index <groups[i].nGroupe.student.length - 1; index++) {%>
                            <%- groups[i].nGroupe.student[index].name %>  - - -  
                        <%}%>
                        <%- groups[i].nGroupe.student[groups[i].nGroupe.student.length - 1].name %>
                    </p>
                    <p> When : <%- groups[i].nGroupe.deadline %></p>
                <%}%>
        </div>
        <div class="containerStudent">
            <p>List of students they will must do a tech-watch soon:</p>
        </div>
    </main>
</body>
</html>