<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projet TechWatch-V3</title>
</head>

<body>
    <header class="navigation">
        <h1 class="titre">group generator</h1>
        <nav>
            <ul class="head">
                <li class="headLi">
                    <a href="http://localhost:3000/students"> Student list</a>
                </li>
                <li class="headLi">
                    <a href="http://localhost:3000/groups"> Tech-watch Assignator</a>
                </li>
            </ul>
        </nav>
    </header>
    <h1 class="textStudent">List of students</h1>

    <ul>
        <%for(var i = 0 ; i < students.length ; i++) {%>

        <li><%= students[i] %></li>

        <% } %>
    </ul>
    <form action="/students" method="POST">
        <input type="text" name="name" placeholder="name" /> <br />
        <input type="submit" value="add">
    </form>
    <form action="/students/delete" method="POST">
        <input type="text" name="name" placeholder="name" /> <br />
        <input type="submit" value="Supprimer">
    </form>
</body>

</html>