<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projet TechWatch-V3</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="body.css">
</head>

<body>
    <h1 class="titre">My Tech-Watch Assignator</h1>
    <header class="head">
        <nav class="nav">
            <div class="navDiv"><a href="http://localhost:3000/">Home</a></div>
            <div class="navDiv"><a href="http://localhost:3000/groups">Tech Watch Assignation</a></div>
            <div class="navDiv"><a href="http://localhost:3000/historique">Historique</a></div>
        </nav>
    </header>

    <form action="/students" method="POST">

        <h1 class="textStudent">List of students</h1>
        <ul>
            <%for(var i = 0 ; i < students.length ; i++) {%>
                <li><%- students[i] %></li>
            <% } %>
        </ul>

        <input type="text" name="name" placeholder="Name" /> 
        <input type="submit" value="Add"><br>
    </form>
        <form action="/students/delete" method="POST">
            <select name="name" >
                <label>Nom à supprimer</label>
                <%if (etudiantPris !== []) {%>
                    <%etudiantPris.forEach(element => {%>
                    <option value="<%- element.name %>"><%- element.name %> </option>
                <%});%>
                <%}%>
            </select>
            <input type="submit" value="Supprimer">
        
    </form>
</body>

</html>